*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Poppins', sans-serif;
    /* background-color: #264653; */
    background-image: linear-gradient(to right, #b7e4c7 , #d8f3dc);
    /* transition: 0.5s; */
}

#task-list{
    cursor: pointer;
}
.completed{
    color: blue;
    text-decoration: line-through;
}
.container{
    border: 2px solid #ccc;
    width: 360px;
    margin: 50px auto;
}

input{
    width: 100%;
    font-size: 18px;
    /* margin-top: 5px; */
    padding: 5px;
}

input:focus{
    outline: none;
}

#plus{
    float: right;
    margin-right: 30px;
    cursor: pointer;
}

ul{
    list-style: none;
}
li{
    border: 1px solid green;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

h1{
    padding:10px;
    background-color: #003049;
    color: white;
}

.del-icon{
    color: red;
}

.edit-icon{
    float: right;
    color: blue;
}
.edit{
    background-color: blue;
}